#start_button{

}

#coverup{
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.25);
  z-index: 5;
top:0px;
left:0px;
}

#navigate_panel{
  z-index: 10;
  position: absolute;
  display: none;
  width: 200px;
  left: calc(50% - 100px);
  top: 120px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;

}

#navigate_panel h4{
width:120px;

}

.nav_selects{
  width:80px;
height:50px;
}

#navigation_button{
width:100px;
margin-top:10px;
margin-left:50px;
}
